# MySQL Database Configuration
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=bytetrail_db

# Set to True to allow fallback to SQLite if MySQL server is offline
ENABLE_SQLITE_FALLBACK=True
